<!DOCTYPE html>
<html lang="<%=locals.user_lang%>">
  <head>
    <meta charset="utf-8" />
    <%- include('partials/favicon'); %>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Discord" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="msapplication-TileColor" content="#8c72da" />
    <title translate="no">Discolounge - Terms of Service</title>
    <meta
      name="description"
      content="Find the best Discord servers on discolounge.net - the ultimate Discord server listing website. Search for new unique servers by genre, interests, location and more. Join new communities, grow your server to the infinite and expand your social circle. Sign up now for free!"
    />
    <meta property="og:title" content="Discord Servers" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://discolounge.net/" />
    <meta
      property="og:description"
      content="Find the best Discord servers on discolounge.net - the ultimate Discord server listing website. Search for new unique servers by genre, interests, location and more. Join new communities, grow your server to the infinite and expand your social circle. Sign up now for free!"
    />
    <meta name="theme-color" content="#8c72da" />
    <meta
      property="og:image:alt"
      content="Find the best Discord servers on discolounge.net - the ultimate Discord server listing website. Search for new unique servers by genre, interests, location and more. Join new communities, grow your server to the infinite and expand your social circle. Sign up now for free!"
    />
    <meta property="og:site_name" content="Discolounge" />
    <link rel="canonical" href="https://discolounge.net/" />

    <meta property="twitter:url" content="https://discolounge.net/" />
    <meta property="twitter:title" content="Discord Servers" />
    <meta
      property="twitter:description"
      content="Find the best Discord servers on discolounge.net - the ultimate Discord server listing website. Search for new unique servers by genre, interests, location and more. Join new communities, grow your server to the infinite and expand your social circle. Sign up now for free!"
    />
    <script src="/jquery.js"></script>
    <script src="/poper.js"></script>
    <link rel="stylesheet" href="/boostrap.css" />
    <script src="/boostrap.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/font.js"></script>
    <link rel="stylesheet" href="/home.css" />
    <link ref="stylesheet" href="/terms.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />

    <script
      defer
      async
      src="/pwabuilder-sw-register.js"
      type="87fa30033e28593e842e08ba-text/javascript"
    ></script>
    <script
      defer
      async
      src="/pwabuilder-sw.js"
      type="87fa30033e28593e842e08ba-text/javascript"
    ></script>

    <script type="87fa30033e28593e842e08ba-module">
      import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

      const el = document.createElement('pwa-update');

      document.body.appendChild(el);
    </script>
  </head>
  <%- include('partials/navbar'); %>

  <div style="background-color: rgba(35, 33, 37, 0.345)" class="container">
    <div class="content">
      <h3>Terms and conditions</h3>
      These terms and conditions ("Agreement") sets forth the general terms and
      conditions of your use of the discolounge.net website ("Website" or
      "Service") and any of its related products and services (collectively,
      "Services"). This Agreement is legally binding between you ("User", "you"
      or "your") and this Website operator ("Operator", "we", "us" or "our"). By
      accessing and using the Website and Services, you acknowledge that you
      have read, understood, and agree to be bound by the terms of this
      Agreement. If you are entering into this Agreement on behalf of a business
      or other legal entity, you represent that you have the authority to bind
      such entity to this Agreement, in which case the terms "User", "you" or
      "your" shall refer to such entity. If you do not have such authority, or
      if you do not agree with the terms of this Agreement, you must not accept
      this Agreement and may not access and use the Website and Services. You
      acknowledge that this Agreement is a contract between you and the
      Operator, even though it is electronic and is not physically signed by
      you, and it governs your use of the Website and Services.
    </div>
    <div id="server-content" class="content">
      <h3>Server Content</h3>
      We are not responsible and do not own the content on the servers. All
      content sent is under your protection and responsibility and will be
      judged if an infringement is committed. You have the right to change or
      remove material contained on the websites. the use of content that
      encourages violence, sex (even those marked as NSFW), racism or anything
      that threatens human rights is prohibited and the server owner will be
      judged and penalized with a permanent ban.Any content over 18 must be
      marked as NSFW, this option is available in dashboard > about > NSFW. Any
      type of server that contains content over 18 and that does not have the
      NSFW option checked will be penalized
    </div>
    <div class="content">
      <h3>Links to other resources</h3>
      Our site, although it may redirect directly or indirectly to other
      services, we are not responsible for the links contained in the contents
      of the servers, such as socials and post, and we are not responsible for
      the content contained therein. It is your responsibility to go ahead with
      whether or not to use the third-party service. You should carefully review
      the legal statements and terms of service of third-party websites that you
      access through the website or service. Your linking to any other off-site
      resources is at your own risk.
    </div>
    <div class="content">
      <h3>Prohibited uses</h3>
      As already described in other terms about penalties, the use of contents
      is totally prohibited: (a) for any unlawful purpose; (b) to solicit others
      to perform or participate in any unlawful acts; (c) to violate any
      international, federal, provincial or state regulations, rules, laws, or
      local ordinances; (d) to infringe upon or violate our intellectual
      property rights or the intellectual property rights of others; (e) to
      harass, abuse, insult, harm, defame, slander, disparage, intimidate, or
      discriminate based on gender, sexual orientation, religion, ethnicity,
      race, age, national origin, or disability; (f) to submit false or
      misleading information; (g) to upload or transmit viruses or any other
      type of malicious code that will or may be used in any way that will
      affect the functionality or operation of the Website and Services, third
      party products and services, or the Internet; (h) to spam, phish, pharm,
      pretext, spider, crawl, or scrape; (i) for any obscene or immoral purpose;
      or (j) to interfere with or circumvent the security features of the
      Website and Services, third party products and services, or the Internet.
      We reserve the right to terminate your use of the Website and Services for
      violating any of the prohibited uses.
    </div>
    <div class="content">
      <h3>Vote System</h3>
      All servers have the right to be voted by people every 24 hours. You agree
      that the use of any type of scripts, bots, or services that automate
      voting is prohibited and may lead to a permanent ban on your account.
    </div>
    <div id="premium-plans" class="content">
      <h3>Premium Plans</h3>
      Premium plans are subscriptions that give the server more visibility and
      extra functions. Payment is made exclusively via paypal and its prices
      vary depending on the number of months subscribed:

      <ul>
        <li>a) Monthly plan ($6.00) [No discount plan]</li>
        <li>b) 6 month plan ($30.00) [16% off]</li>
        <li>c) Annual Plan ($57.00) [20% off]</li>
        <small
          >note: prices may change, when this happens, users will be notified
          and the new charge, if the user decides to continue with the plan,
          will only be applied after the old subscription expires</small
        >
      </ul>
      No undue charges will occur, all payments are made separately from paypal,
      there is no auto-renewal of the subscription, it is up to the user to buy
      or not the new plan after the expiration of the previous one. Infractions
      may lead to the total loss of the server, as well as the loss of the
      premium plan and permanent banning of the user. In this case, there is no
      reversal of money. Money reversal will only occur if:
      <ul>
        <li>a) the purchase period does not exceed 7 days</li>
        <li>
          b) user does not receive any infraction within the next 7 days after
          purchase
        </li>
      </ul>
    </div>
    <div id="bump-system" class="content">
      <h3>Bump System</h3>
      The bump system is a universal service, all servers can be bumped every 24
      hours. Server owners with premium plans will be able to use discord's
      slash commands system to bump their servers, in this system, anyone can
      bump the server. Normal users will have the feature to bump their servers,
      this feature is only available on the server dashboard and can only be
      used by owners. The use of scripts, bots, vpn, or any type of service that
      automates the bump system is completely prohibited, the use of third-party
      services will be under the full responsibility of the user, and may be
      penalized with a permanent ban and removal from the servers, even if these
      have premium plans.
    </div>
    <div class="content">
      <h3>Disclaimer</h3>
      This disclaimer ("Disclaimer") sets forth the general guidelines,
      disclosures, and terms of your use of the discolounge.net website
      ("Website" or "Service") and any of its related products and services
      (collectively, "Services"). This Disclaimer is a legally binding agreement
      between you ("User", "you" or "your") and this Website operator
      ("Operator", "we", "us" or "our"). By accessing and using the Website and
      Services, you acknowledge that you have read, understood, and agree to be
      bound by the terms of this Disclaimer. If you are entering into this
      Disclaimer on behalf of a business or other legal entity, you represent
      that you have the authority to bind such entity to this Disclaimer, in
      which case the terms "User", "you" or "your" shall refer to such entity.
      If you do not have such authority, or if you do not agree with the terms
      of this Disclaimer, you must not accept this Disclaimer and may not access
      and use the Website and Services. You acknowledge that this Disclaimer is
      a contract between you and the Operator, even though it is electronic and
      is not physically signed by you, and it governs your use of the Website
      and Services.
    </div>
    <div class="content">
      <h3>Content and postings</h3>

      By using our services you give permanent permission to the operator,
      perpetual right to distribute, display, publish, reproduce, reuse and copy
      the information contained therein. It is totally forbidden to use other
      people's content, services and servers, as well as to impersonate another
      person.
    </div>
    <div class="content">
      <h3>Acceptance of this disclaimer</h3>
      You acknowledge that you have read this Disclaimer and agree to all its
      terms and conditions. By accessing and using the Website and Services you
      agree to be bound by this Disclaimer. If you do not agree to abide by the
      terms of this Disclaimer, you are not authorized to access or use the
      Website and Services.
    </div>
    <div class="content">
      <h3>Contact Us</h3>
      <p>
        If you have any questions about this Terms of Service, You can contact
        us:
        <a href="mailto: contact@discolounge.net">contact@discolounge.net</a>
      </p>
    </div>
  </div>
  <%- include('partials/footer'); %>

  <style>
    .container {
      -webkit-box-shadow: 0px 10px 17px -7px rgb(0 0 0 / 75%);
      -moz-box-shadow: 0px 10px 17px -7px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 10px 17px -7px rgb(0 0 0 / 75%);
    }
    .content {
      color: rgba(143, 143, 143, 0.886);
      font-size: 16px;
      font-weight: normal;
      line-height: 1.7;
      padding: 10px;
      margin-top: 30px;
    }
    .content h3 {
      color: White;
    }
  </style>
</html>
