<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-57Y97J0QNC"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-57Y97J0QNC");
</script>
<link rel="stylesheet" href="../footer.css" />

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          Discolounge is a discord list website connected with discord.
          Discolounge is not an affiliate and does not belong to discord.com
        </p>
      </div>

      <div class="col-xs-3 col-md-3">
        <h6>Important Links</h6>
        <ul class="footer-links">
          <li><a href="/TOS">Terms of Service</a></li>
          <li><a href="/PP">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-xs-3 col-md-3">
        <h6>Extra</h6>
        <label style="font-size:13px">We Auto Translate This Page for you 🥳</label>
        <%- include('./translate'); %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2022 All Rights Reserved by
          <a style="background-color: initial; border-bottom: initial" href="#"
            >Discolounge</a
          >.
          <br />
          <a
            href="https://www.dmca.com/site-report/discolounge.net"
            title="DMCA Compliance information for discolounge.net"
            class="dmca-badge"
          >
            <img
              src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-02.png?ID=8f0b276b-9b91-49f4-aa29-528f6678161e"
              alt="DMCA.com Protection Status"
          /></a>
          <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <p>
          Made with
          <i style="color: #d36e6f" id="heart" class="fas fa-heart"></i> by
          <a href="https://twitter.com/brunoRb19">Bruninho</a>
        </p>
      </div>
      <div class="col-xs-6 col-md-6">
        <p>
          Join us on
          <i
            style="color: #7087d7"
            class="fab fa-discord"
            aria-hidden="true"
          ></i>
          <a target="_blank" href="https://discord.gg/anvT6uAVtb">Discord</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<style>
  .site-footer {
    margin-top: 170px;
    background: #070510;
    font-weight: bold;
    position: relative;
  }
  .site-footer a {
    color: white;
  }
  .site-footer a:hover {
    text-decoration: none;
    color: #7087d7;
  }
  .site-footer h6 {
    font-weight: bold;
  }
  #dropdownMenuLink {
    background-color: transparent;

    border: 2px solid #7087d7;
  }
  .footer-links {
    list-style-type: none;
  }
</style>
