

    <style type="text/css">
    #google_translate_element {
        display: none;
    }
    /*
    .goog-te-banner-frame {
        display: none !important;
    }
    body {
        position: static !important;
        top: 0 !important;
    }
    */
    </style>

    <div class="dropdown show">


    <div id="google_translate_element" class="boxTradutor"></div>

    <!-- O Javascript deve vir depois -->


 <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
    var comboGoogleTradutor =  navigator.language || navigator.userLanguage; //Varialvel global
    var lang = navigator.language || navigator.userLanguage

    async function googleTranslateElementInit() {
        var a = await lang.toLowerCase().split('-')[0]
        document.cookie = `googtrans=/en/${lang.toLowerCase().split('-')[0]}`
  new google.translate.TranslateElement({
  	pageLanguage: 'en',
  	includedLanguages: 'en,es,pt,de,fr,pt-br',
  }, 'google_translate_element');
  setTimeout(function(){
  	var select = document.querySelector('select.goog-te-combo');
  	select.value  = `${a}`; 
  	select.dispatchEvent(new Event('change'));
  },1000)
}

    function changeEvent(el) {
        if (el.fireEvent) {
            el.fireEvent('onchange');
        } else {
            var evObj = document.createEvent("HTMLEvents");

            evObj.initEvent("change", false, true);
            el.dispatchEvent(evObj);
        }
    }

    function trocarIdioma(sigla) {
        if (comboGoogleTradutor) {
            comboGoogleTradutor.value = sigla;
            document.getElementById('dropdownMenuLink').innerText = `${sigla}`
            changeEvent(comboGoogleTradutor);//Dispara a troca
        }
    }

    </script>

</html>
<style type="text/css">
        .skiptranslate, #google_translate_element {display: none;}
    body {min-height: 0px !important; position: static !important; top: 0px !important;}
    .skiptranslate {
        display: none;
    }
    .VIpgJd-ZVi9od-ORHb-OEVmcd {
        display:none;
    }
    #google_translate_element {
        display: none;
    }
    iframe {
        display: none;
    }
    .goog-te-banner-frame {
        display: none !important;
    }
    body {
        position: static !important;
        top: 0 !important;
    }
    .goog-gt-tt{
        display: none;
    }
.goog-te-banner-frame.skiptranslate { display: none !important;} 
body { top: 0px !important; }
#goog-gt-tt{display: none !important; top: 0px !important; } 
.goog-tooltip skiptranslate{display: none !important; top: 0px !important; } 
.activity-root { display: hide !important;} 
.status-message { display: hide !important;}
.started-activity-container { display: hide !important;}
    </style> 