/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/


.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #292439;
  }
  100% {
    background-color: #1f1a2c;;
  }
}

.skeleton-text {
  width: 30%;
  height:90%;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-text__body {
  width: 100%;
  height:90%;
}

input:focus {
  outline: none;
  border:none;
}
.swal2-deny{
  color:#de4343
}
#sidebar .nav-link{
    color:white;
}
#sidebar .nav-link:hover{
  color:#7289da;
}
#sidebar {
  margin-bottom:40px;
  background-color: #090613;

}
.media-body .dropdown-menu {
  color:white;
  background-color: #06040e;

   max-height: 200px; /* Fix a max-height here */
   overflow: auto;
}
#sidebarCollapse{
  color:black;
}
.dropdown-item{
  color:white;
  background-color: #06040e;
}
.dropdown-item:hover{
  color:#7289da;
  background-color: #090613;
}
dropdown-item .dropdown-item{
  color:white;
}
.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    top: 0;
    left: 0;
    background-color:black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  #confirm-btn{
    padding:6px;
    outline: none;
    border:3px solid #1e1a2b;
    background-color:transparent;
    border-radius:5px;
    color:white;
    float:left;
    font-weight: bold;
  }
  .input-group .dropdown-menu{
    color:white;
    background-color: rgb(24, 22, 33);
  }
  .input-group .dropdown-menu .dropdown-item{
    color:white;
    background-color: transparent;
  }
.input-group input {
    padding:10px;
    width:100%;
    outline:none;
    background-color:#1d1b27;
    border:none;
    border-radius:5px;
    border-color: none;
    border-bottom:1px solid white;
    -webkit-box-shadow: none;
    box-shadow: none;
    color:white;
  }
  #invites {
    color:white;
    background-color:#1d1b27;
    border:none;
  }
  .input-group-text {
    width:100%;
    border:none;
    outline:none;
    font-size:18px;
    color:white;
    background-color:#1d1b27;
    border-radius:5px;
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .input-group-text input {

    color:white;
    background-color:#14121c;


  }
  .btn-outline-secondary {
    padding:6px;
    outline: none;
    border:none;
    background-color:#1d1b27;
    border-radius:5px;
    color:white;
    float:left;
    font-weight: bold;
  }
  .btn-outline-secondary:hover {
    border:none;
    background-color:#272531;
  }
 .input-group input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
    color:white;
    background-color:#1d1b27;
  }
  .input-group input:active { 
    border:none;
    outline: none !important;
        color:white;
        background-color:#1d1b27;
        border-bottom:1px solid white;

    border-radius:5px;
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #confirm-btn:hover{ 
    cursor:pointer;
    background-color:#1d1a28;
  }
  #create-api-btn{
    padding:10px;
    border:1px solid #8c72da;
    text-align: center;
    border-radius:5px;
  }
  #create-api-btn:hover{
    padding:10px;
    background-color:#14121c;
    text-align: center;
    border-radius:5px;
    cursor:pointer
  }

  .page-content {
    position:absolute;
    top:55px;
    width: calc(100% - 17rem);
    margin-left: 17rem;
    color:white;

    transition: all 0.4s;
  }
  #invite-btn{
    background: rgb(28, 26, 39);
    border: 1px solid rgba(24, 22, 33, 0.733);
  }
  .form-content{
    padding:10px;
    background-color:#100e16;
    border-radius:5px;
    width:100%;
  }
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  #contents.active {
    width: 100%;
    margin: 0;
  }
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox],
  input[type=radio] {
      --active: 	#7289da;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: 	#7289da;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    input[type=checkbox]:after,
  input[type=radio]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    input[type=checkbox]:checked,
  input[type=radio]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    input[type=checkbox]:disabled,
  input[type=radio]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    input[type=checkbox]:disabled + label,
  input[type=radio]:disabled + label {
      cursor: not-allowed;
    }
    input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    input[type=checkbox]:focus,
  input[type=radio]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    input[type=checkbox]:not(.switch),
  input[type=radio]:not(.switch) {
      width: 21px;
    }
    input[type=checkbox]:not(.switch):after,
  input[type=radio]:not(.switch):after {
      opacity: var(--o, 0);
    }
    input[type=checkbox]:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
      --o: 1;
    }
    input[type=checkbox] + label,
  input[type=radio] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  
    input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
    input[type=checkbox].switch {
      width: 38px;
      border-radius: 11px;
    }
    input[type=checkbox].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    input[type=checkbox].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    input[type=checkbox].switch:disabled:not(:checked):after {
      opacity: 0.6;
    }
  
    input[type=radio] {
      border-radius: 50%;
    }
    input[type=radio]:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }
    input[type=radio]:checked {
      --s: .5;
    }
  }


  


  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  
  .text-gray {
    color:white;
  }

  .posts-content{
    margin-top:10px;
    width:100%;
    
    display: inline-block;
  }
.post{
  margin-top:10px;
  padding:10px;

  background-color:#090613 ;
}
#post-remove{
  float:right;
  color:#de4343;
  font-size: 20px;
}
#post-remove:hover{
  float:right;
  color:#bf3939;
  font-size: 20px;
  cursor: pointer;
}
.form-content a:not([href]):not([tabindex])  {
  margin-top:5px;

}
.form-content a:not([href]):not([tabindex]):focus, .form-content a:not([href]):not([tabindex]):hover {
  cursor:pointer;
color:rgb(218, 213, 213);
}
.help-block {
  color: #7C7B7B;
}